{{/*
Navigation bar template.

This template defines the navigation bar for the application.
It includes:
  - Left-aligned links for core features (Home, Create Snippet).
  - Right-aligned links for user authentication (Signup, Login, Logout).

HTML elements used: <nav>, <div>, <a>, <form>.
Layout is designed to be responsive.
*/}}
{{define "nav"}}
<nav>
    <div>
{{/* 
Home page link.
- Path: /
- Purpose: Directs to the main landing page displaying the latest snippets

About page link.
- Path: /about
- Purpose: Displays information about the application and its features
- Access: Available to all users (authenticated and unauthenticated)
*/}}
        <a href="/">Home</a>
        <a href="/about">About</a>
        <!-- Toggle the link based on authentication status -->
        {{if .IsAuthenticated}}
            {{/*
            Snippet creation page link.
            - Path: /snippet/create
            - Purpose: Shows form for new snippet creation
            - Access: Authenticated users only
            */}}
            <a href="/snippet/create">Create snippet</a>
        {{end}}
    </div>
    <div>
        <!-- if is authentication add logout button -->
        {{if .IsAuthenticated}}
            <form action="/user/logout" method="POST" >
            <!-- CSRF token -->
            <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                {{/*
                Logout functionality.
                - Method: POST for enhanced security
                - Action: /user/logout
                - Purpose: Terminates current user session
                - Access: Authenticated users only
                */}}
                <button>Logout</button>
            </form>

        <!-- else add Signup and Login button -->
        {{else}}
            {{/*
            User signup page link.
            - Path: /user/signup
            - Purpose: Provides form for new user registration
            - Access: Unauthenticated users
            */}}
            <a href="/user/signup">Signup</a>
            {{/*
            User login page link.
            - Path: /user/login
            - Purpose: Offers form for user authentication
            - Access: Unauthenticated users
            */}}
            <a href="/user/login">Login</a>
        {{end}}
    </div>
</nav>
{{end}}
